@page
@model PFMA_Website.Pages.Start.Admin.Actualites.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Actualite[0].text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actualite[0].tag)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Actualite)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tag)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ActualiteID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ActualiteID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ActualiteID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

